
@font-face {
  font-family: Barlow;
  src: url(https://fonts.google.com/specimen/Barlow+Condensed);
}

* {
  width: 1440px;
  height: 100vh;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Barlow;
}
